.title,
.body {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
}

.titleImg {
  width: 130px;
  margin-top: 30px;
}

.titleBg1 {
  position: absolute;
  top: 0;
  left: 22px;
}

.titleBg2 {
  position: absolute;
  top: 0;
  right: 0;
}

.body {
  gap: 16px;
  justify-content: flex-end;
  padding-bottom: 30px;
  background-image: url("static/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.palyNowButton,
.palyBotButton,
.palyFriendsButton {
  width: 265px;
  height: 56px;
  border-radius: 24px;
  background: linear-gradient(#191685, #191685) padding-box,
    linear-gradient(to right, rgba(255, 255, 255, 0.33), #191685) border-box;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 24px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.palyNowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-bottom: 16px;
  background: linear-gradient(#191685, #191685) padding-box,
    linear-gradient(to right, rgba(255, 255, 255, 0.33), #191685) border-box;
}

.palyBotButton,
.palyFriendsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#4b61e9, #4b61e9) padding-box,
    linear-gradient(to right, rgba(255, 255, 255, 0.5), #5570fd) border-box;
}

.boardSizesContainerBackDrop {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  transform: translateY(-65%);
  height: 200px;
}

.boardSizesContainer {
  gap: 85px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardSize {
  width: 126px;
  height: auto;
}

.vectorContainer {
  position: absolute;
  width: 215px;
  top: 46.5%;
  left: 50%;
  transform: translate(-50.5%, 0%);
  z-index: 2;
}

.vectorContainer img {
  position: absolute;
  width: 17px;
  height: 32px;
  top: 50%;
  z-index: 1;
  transform: translate3d(0, -20%, 0);
  transition: .3s;
  cursor: pointer;
}

.vectorContainer img:hover {
  scale: 1.1;
}

.leftVector {
  left: 0;
}

.rightVector {
  right: 0;
}