* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Joti One', serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}