.main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:hover {
  background-color: gray;
}