<div class="player1">
    <img src="images/current_1.svg" alt="Player 1 Turn" class="current-img" />
    <div class="player-container">
        <img src="images/player.svg" alt="Player 1" />
        <div class="player-title">Player 1</div>
        <img src="images/player1.svg" alt="X" />
    </div>
</div>

<div class="vs">VS</div>

<div class="player2">
    <img src="images/current_2.svg" alt="Player 2 Turn" class="current-img" />
    <div class="player-container">
        <img src="images/player.svg" alt="Player 2" />
        <div class="player-title">Player 2</div>
        <img src="images/player2.svg" alt="O" />
    </div>
</div>