.vectorContainer {
    position: absolute;
    width: 215px;
    top: 46.5%;
    left: 50%;
    transform: translate(-50.5%, 0%);
    z-index: 2;
}

.vectorContainer img {
    position: absolute;
    width: 17px;
    height: 32px;
    top: 50%;
    z-index: 1;
    transform: translate3d(0, -20%, 0);
    transition: .3s;
    cursor: pointer;
}

.boardSizesContainerBackDrop {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transform: translateY(-65%);
    height: 200px;
}

.boardSizesContainer {
    gap: 85px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardSize {
    width: 126px;
    height: auto;
}

.vectorContainer img:hover {
    scale: 1.1;
}

.leftVector {
    left: 0;
}

.rightVector {
    right: 0;
}